<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <RollingFile name="Applog"
            fileName="D:/project/appLogger/applogger.log"
            filePattern="D:/project/appLogger/appLogger-%d{yyyy-MM-dd}.log">

            <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c - %m%n"/>

            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Applog"/>
        </Root>
    </Loggers>

</Configuration>
